<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{title}} Mr {{lateStudent}}!</h1>

<section id="listing">
<h2>Coach Listing</h2>
    <table>
    <tr>
      <th>
      Name
      </th>
      <th>
      Description
      </th>
      <th>
      Speciality
      </th>
</tr>
<tr *ngFor="let coach of coaches">
<td>{{coach.name}}</td>
<td>{{coach.description}} </td>
<td>{{coach.image_url}}</td>
</tr>
    </table>

 </section>
 <section id="form">
   <h2>Add new coach</h2>


 </section>